body,html,* {
    margin:0;
    padding:0px;
}

body {
    background-color: whitesmoke;
    height: 80vh;
    padding: 10vh 10vh;
}

.drag-wrapper {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    padding: 20px;
    position: relative;
}

.card-img-cont {
    height: 20vh;
}

.card-img {
    height: 100%;
    position: relative;
}

.add-new-card {
    width: 50px;
    height: 20vh;
    padding: 20px;
    order: 1;
}

.add-new-card button {
    background-color: black;
    height: 100%;
    width: 100%;
    border: none;
}

.card-delete-btn {
    display: none;
    border-radius: 200px;
    width: 25px;
    height: 25px;
    text-align: center;
    position: absolute;
    top: -5px;
    right: -5px;
}

.add-new-overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 9;
    background-color: rgba(255,255,255,0.5);
    top: 0;
    left: 0;
    display: none;
}

.add-new-cont {
    background-color: whitesmoke;
    width: 33vw;
    height: 50vh;
    left: 33vw;
    top: 25vh;
    padding: 20px;
    position: relative;
}

.add-new-input {
    margin: 50px auto;
    display: block;
    text-align: center;

}

.add-new-exit {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    font-size: large;
    font-weight: 900;
    color: grey;
    padding-top: 5px;
    padding-right: 10px;
    background-color: rgba(255,255,255,0);
}


